body {
  padding: 0;
  margin: 0;
}

h1,
h3,
h2,
input,
select,
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ff7f35;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("./orangeBg.png");
  background-size: cover;
}

.papers, .packs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 90rem;
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 3rem;
  padding: 1rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 15px gray;
          box-shadow: 0 0 15px gray;
}

@media screen and (max-width: 1450px) {
  .papers, .packs {
    width: 80%;
    margin-bottom: 1rem;
  }
}

.paperNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90rem;
  background-color: white;
  min-height: 5rem;
  margin: 1rem auto;
  margin-top: 2rem;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px gray;
          box-shadow: 0 0 15px gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.paperNav h1 {
  font-weight: 500;
  font-size: 2rem;
  margin: 0 1rem;
}

@media screen and (max-width: 1450px) {
  .paperNav {
    width: 80%;
    min-height: 5rem;
    margin-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
  .paperNav h1 {
    font-size: 1rem;
  }
}

.selectLanguage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem;
  height: 2.5rem;
  border-bottom: 3px solid orange;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.selectLanguage p {
  font-size: 1.2rem;
  color: orange;
}

.selectLanguage select {
  background-color: none;
  border: none;
  width: 15rem;
  font-size: 1.25rem;
  margin-left: 1rem;
  padding-left: 1rem;
}

.selectLanguage select:focus {
  outline: none;
}

@media screen and (max-width: 1450px) {
  .selectLanguage p,
  .selectLanguage select {
    font-size: 0.8rem;
  }
  .selectLanguage select {
    width: 10rem;
  }
}

@media screen and (max-width: 400px) {
  .selectLanguage p,
  .selectLanguage select {
    font-size: 0.5rem;
  }
  .selectLanguage select {
    width: 10rem;
  }
}

.paperCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.281);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.281);
  width: 14rem;
  height: 10rem;
  border-radius: 8px;
  overflow: hidden;
  margin: 1rem 2rem;
}

.paperCard .imgCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.paperCard .textCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  overflow: hidden;
  background-color: black;
}

.paperCard img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 90%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.paperCard h1 {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin: 0.35rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.packCard {
  -webkit-animation: appear 1s ease-in-out;
          animation: appear 1s ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25rem;
  height: 6rem;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.281);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.281);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 0 0.5rem;
  border-radius: 8px;
  margin: 1rem;
}

.packCard .packImgCon img {
  width: 5rem;
}

.packCard .packTextCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 1rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.packCard .packTextCon h3 {
  font-size: 0.8rem;
  margin: 0;
}

.packCard .packTextCon p {
  margin: 0;
  color: orange;
}

.calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  height: 97vh;
  border-radius: 20px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}

.calculator .closeIcon {
  position: absolute;
  right: 0;
  top: 0;
  height: 4rem;
  margin: 0.5rem;
  cursor: pointer;
}

.calculator .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4rem;
}

.calculator .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator .img img {
  border: 3px solid black;
  border-radius: 15px;
  height: 8rem;
}

.calculator .paperData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator .paperData h1,
.calculator .paperData h3,
.calculator .paperData p {
  margin: 0;
  margin-left: 2rem;
}

.calculator .paperData h1 {
  margin-bottom: 0.5rem;
}

.calculator .paperData h3 {
  margin-bottom: 0.5rem;
}

.calculator .paperData p {
  font-size: 2rem;
}

.calculator .edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem;
  width: 100%;
  padding-top: 0;
}

.calculator .edit textarea {
  font-size: 2rem;
  width: 24ch;
  border-radius: 15px;
  padding: 1rem;
  border: none;
  -webkit-box-shadow: 0 0 15px gainsboro;
          box-shadow: 0 0 15px gainsboro;
}

.calculator .edit .editStats h3 {
  font-weight: 400;
  font-size: 1.65rem;
  margin: 1rem 0;
}

.calculator .edit .calculateCash {
  margin: 0 auto;
}

.calculator .edit .calculateCash h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.calculator .edit .calculateCash .row, .calculator .edit .calculateCash .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.calculator .edit .calculateCash .row h1, .calculator .edit .calculateCash .checkout h1 {
  margin-top: 0;
}

.calculator .edit .calculateCash .row .tag, .calculator .edit .calculateCash .checkout .tag {
  font-weight: 400;
}

.calculator .edit .calculateCash .row .price, .calculator .edit .calculateCash .checkout .price {
  width: 10rem;
  text-align: right;
}

.calculator .edit .calculateCash .checkout {
  margin-top: 3rem;
}

.calculator .edit .calculateCash .checkout .reset {
  font-size: 1.5rem;
  margin-right: 5rem;
  color: gray;
}

.calculator .edit .calculateCash .checkout button {
  border: none;
  background-color: #ff7f35;
  height: 3rem;
  width: 16rem;
  border-radius: 15;
  font-size: 1.25rem;
  color: white;
  border-radius: 30px;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */